
theLuceneIAAndex/_0.cfe
theLuceneIAAndex/_0.cfs
theLuceneIAAndex/_0.si
theLuceneIAAndex/_1.cfe
theLuceneIAAndex/_1.cfs
theLuceneIAAndex/_1.si
theLuceneIAAndex/_2.cfe
theLuceneIAAndex/_2.cfs
theLuceneIAAndex/_2.si
theLuceneIAAndex/_3.cfe
theLuceneIAAndex/_3.cfs
theLuceneIAAndex/_3.si
theLuceneIAAndex/_4.cfe
theLuceneIAAndex/_4.cfs
theLuceneIAAndex/_4.si
theLuceneIAAndex/_5.cfe
theLuceneIAAndex/_5.cfs
theLuceneIAAndex/_5.si
theLuceneIAAndex/segments_1
theLuceneIAAndex/write.lock
run jar with modified UI scale.bat
results.txt
index.json
